# Additional dependencies required for running the "loose" version of directlfq GUI.
# All dependencies that are also included in `requirements.txt` must be added also here (enforced by a test).
panel
dash
matplotlib