jupyter
jupyter_contrib_nbextensions
pyinstaller
autodocsumm
sphinx-rtd-theme
twine
bumpversion
pipdeptree
ipykernel
tqdm
psutil
matplotlib_venn
wget
seaborn
matplotlib
nbdev>=2.3.9
notebook
alphabase>=1.4.0
progressbar