# Dependencies required for running the "stable" version of directlfq.
# Only usage of fixed versions is allowed, and all dependencies listed here must also be
# included in `requirements_loose.txt` (enforced by a test).
numpy==1.23.5
pandas==2.2.3
dask==2024.8.0
numba==0.56.4
multiprocess==0.70.14
pyarrow==17.0.0